<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
    <section name="common" type="SourceHelper.Configuration.CommonSection, SourceHelper.Configuration" />
  </configSections>

  <common>
    <parameters>
      <add name="ROW_NO" schemaType="Int"></add>
      <add name="TB_NAME" schemaType="VarChar" schemaSize="30"></add>
      <add name="CL_NAME" schemaType="VarChar" schemaSize="30"></add>
      <add name="CHAR_NAME" schemaType="NVarChar" schemaSize="30"></add>
      <add name="RETURN_SN" schemaType="NVarChar" schemaSize="30" direction="Output"></add>
    </parameters>
    <storeProcedure>
      <procedure schema="common" name="SPC_SERIAL_NUMBER"></procedure>
    </storeProcedure>
  </common>

  <entities>
    <list>
      <!--TableConfig-->
      <entity type="Config" schema="common" tableName="TB_TABLE_CONFIG">
        <properties>
          <property name="CL_INF" schemaType="VarChar" schemaSize="10" isKey="true"></property>
          <property name="CL_DESC" schemaType="NVarChar" schemaSize="20"></property>
          <property name="CL_STS" schemaType="VarChar" schemaSize="1"></property>
          <property name="CL_ORDER" schemaType="Int"></property>
        </properties>
        <virtual>
          <!--使用狀態-->
          <add type="Status">
            <conditions>
              <add key="TB_NAME" value="TB_TABLE_CONFIG"></add>
              <add key="CL_NAME" value="STS_INFO" logic="AND"></add>
            </conditions>
          </add>
        </virtual>
      </entity>

      <!--檔案資料表-->
      <entity type="SystemFile" schema="common" tableName="TB_FILE_ATTACH" viewName="VW_FILE_ATTACH">
        <properties>
          <property name="ATTACH_SN" schemaType="VarChar" schemaSize="20" isKey="true"></property>
          <property name="TB_NAME" schemaType="VarChar" schemaSize="30"></property>
          <property name="TB_KEY_VALUE_1" schemaType="VarChar" schemaSize="30" isKey="true"></property>
          <property name="TB_KEY_VALUE_2" schemaType="VarChar" schemaSize="30" isKey="true"></property>
          <property name="TB_KEY_VALUE_3" schemaType="VarChar" schemaSize="30" isKey="true"></property>
          <property name="FORMAL_DIR" schemaType="VarChar" schemaSize="20"></property>
          <property name="ORIGINAL_NAME" schemaType="NVarChar" schemaSize="200"></property>
          <property name="FILE_TYPE" schemaType="VarChar" schemaSize="5"></property>
          <property name="IS_HISTORY" schemaType="VarChar" schemaSize="1"></property>
        </properties>
      </entity>
    </list>
  </entities>
</configuration>
