<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataAccess.GenericTemplate" version="3.1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="SourceHelper.Core" version="3.1.0.2" targetFramework="net451" />
  <package id="SourceHelper.MSSQL" version="3.1.0.1" targetFramework="net451" />
  <package id="TSAHelper.Infrastructure" version="1.0.0.2" targetFramework="net461" />
</packages>