<configuration>
  <configSections>
    <section name="fileSetting" type="FileHelper.Configuration.FileSection, FileHelper" />
  </configSections>

  <fileSetting default="WebService">
    <list>
      <file name="WebService" url="http://localhost/SystemFile/" path="D:\SystemFile\" tempDir="Temp" formalDir="EyesFree" historyDir="History">
        <directories>
          <add name="DeviceReport"></add>
        </directories>
      </file>
    </list>
  </fileSetting>
</configuration>