<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--黑名單 API 設定資料-->
      <entity type="AbuseIpDbSetting">
        <table schema="dms" name="TB_ABUSEIPDB_SETTING"></table>
        <properties>
          <property name="API_KEY" schemaType="VarChar" schemaSize="100" isKey="true"></property>
          <property name="ABUSE_SCORE" schemaType="Int"></property>
          <property name="CIDR" schemaType="Int"></property>
          <property name="SEARCHE_DAYS" schemaType="Int"></property>
          <property name="CHECK_CYCLE" schemaType="Int"></property>
        </properties>
      </entity>
    </list>
  </entities>
</configuration>