<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--告警條件-->
      <entity type="AlarmCondition">
        <table schema="dms" name="TB_ALARM_CONDITION"></table>
        <properties>
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true"></property>
          <property name="TARGET_NAME" schemaType="NVarChar" schemaSize="128"></property>
          <property name="TARGET_VALUE" schemaType="VarChar" schemaSize="256"></property>
          <property name="IS_EXCEPTION" schemaType="Bit"></property>
        </properties>
      </entity>
    </list>
  </entities>
</configuration>