<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--告警條件-->
      <entity type="AlarmCondition">
        <table schema="dms" name="TB_ALARM_CONDITION"></table>
        <properties>
          <property name="ACTION_TYPE" schemaType="VarChar" schemaSize="10" isKey="true"></property>
          <property name="ALARM_TYPE" schemaType="VarChar" schemaSize="10"></property>
        </properties>
      </entity>
    </list>
  </entities>
</configuration>