<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--黑名單資訊-->
      <entity type="BlockHole">
        <table schema="dms" name="TB_BLOCK_HOLE"></table>
        <properties>
          <property name="IP_ADDRESS" schemaType="VarChar" schemaSize="40" isKey="true"></property>
          <property name="ABUSE_SCORE" schemaType="Int"></property>
          <property name="REQUEST_TIME" schemaType="DateTime"></property>
        </properties>
      </entity>
    </list>
  </entities>
</configuration>