<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--攝像機設定資訊-->
      <entity type="CameraSetting">
        <table schema="dms" name="TB_CONFIG_PARAMS"></table>
        <view schema="dms" name="VW_CAMERA_SETTING"></view>
        <properties>
          <property name="HOST_URL" schemaType="VarChar" schemaSize="100"></property>
          <property name="FILE_DIR" schemaType="VarChar" schemaSize="100"></property>
          <property name="FILE_TYPE" schemaType="VarChar" schemaSize="100"></property>
        </properties>
      </entity>
    </list>
  </entities>
</configuration>
