<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="common" type="SourceHelper.Configuration.CommonSection, SourceHelper.Configuration" />
  </configSections>

  <common>
    <parameters>
      <add name="ROW_NO" schemaType="Int"></add>
      <add name="TB_NAME" schemaType="Varchar" schemaSize="30"></add>
      <add name="CL_NAME" schemaType="Varchar" schemaSize="30"></add>
      <add name="CHAR_NAME" schemaType="NVarchar" schemaSize="30"></add>
      <add name="RETURN_SN" schemaType="NVarchar" schemaSize="30" direction="Output"></add>
    </parameters>
    <storeProcedure>
      <procedure schema="common" type="Serial" name="SPC_SERIAL_NUMBER"></procedure>
    </storeProcedure>
  </common>
</configuration>
