<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--參數設定檔-->
      <entity type="ConfigParams">
        <table schema="dms" name="TB_CONFIG_PARAMS"></table>
        <properties>
          <property name="SYSTEM_NAME" schemaType="VarChar" schemaSize="20" isKey="true" />
          <property name="PARAMETER_NAME" schemaType="VarChar" schemaSize="39" isKey="true" />
          <property name="PARAMETER_VALUE" schemaType="NVarChar" schemaSize="100" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>
