<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>

  <entities>
    <list>
      <!--TableConfig-->
      <entity type="Config">
        <table schema="common" name="TB_TABLE_CONFIG"></table>
        <properties>
          <property name="CL_INF" schemaType="VarChar" schemaSize="6" isKey="true"></property>
          <property name="CL_DESC" schemaType="NVarChar" schemaSize="20" isValue="true"></property>
          <property name="CL_STS" schemaType="VarChar" schemaSize="1"></property>
          <property name="CL_ORDER" schemaType="Int"></property>
        </properties>
        <virtual>
          <!--使用狀態-->
          <add type="Status">
            <conditions>
              <add key="TB_NAME" value="TB_TABLE_CONFIG"></add>
              <add key="CL_NAME" value="STS_INFO"></add>
            </conditions>
          </add>
          <!--性別-->
          <add type="Sex">
            <conditions>
              <add key="TB_NAME" value="TB_TABLE_CONFIG"></add>
              <add key="CL_NAME" value="SEX"></add>
            </conditions>
          </add>
          <!--設備狀態-->
          <add type="DeviceStatus">
            <conditions>
              <add key="TB_NAME" value="TB_DEVICE_INFO"></add>
              <add key="CL_NAME" value="DEVICE_STATUS"></add>
            </conditions>
          </add>
        </virtual>
      </entity>
    </list>
  </entities>
</configuration>