<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備管理人資料-->
      <entity type="DeviceMaintainer">
        <table schema="dms" name="TB_DEVICE_MAINTAINER"></table>
        <view schema="dms" name="VW_DEVICE_MAINTAINER"></view>
        <properties>
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true"/>
          <property name="USERID" schemaType="VarChar" schemaSize="30" isKey="true"/>
          <property name="USER_NAME" schemaType="NVarChar" schemaSize="200" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>