<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備資料-->
      <entity type="Device">
        <table schema="dms" name="TB_DEVICE_INFO"></table>
        <properties>
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true" />
          <property name="DEVICE_ID" schemaType="VarChar" schemaSize="40" />
          <property name="DEVICE_NAME" schemaType="NVarChar" schemaSize="30" />
          <property name="DEVICE_TYPE" schemaType="NVarChar" schemaSize="1" />
          <property name="IS_MONITOR" schemaType="VarChar" schemaSize="1" />
          <property name="DEVICE_STATUS" schemaType="VarChar" schemaSize="1" />
          <property name="RECORD_STATUS" schemaType="VarChar" schemaSize="1" />
        </properties>
        <relations>
          <relation propertyName="NOTIFY_SETTING" relationEntity="DeviceNotifySetting" relationType="LEFT JOIN" isCollection="false">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys>
          </relation>
          <relation propertyName="NOTIFY_RECORD" relationEntity="DeviceNotifyRecord" relationType="LEFT JOIN" isCollection="false">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys>
          </relation>
        </relations>
      </entity>
    </list>
  </entities>
</configuration>