<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備資料-->
      <entity type="Device">
        <table schema="dms" name="TB_DEVICE_INFO"></table>
        <properties>
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true" />
          <property name="DEVICE_ID" schemaType="VarChar" schemaSize="40" />
          <property name="DEVICE_NAME" schemaType="NVarChar" schemaSize="30" />
          <property name="DEVICE_TYPE" schemaType="VarChar" schemaSize="1" />
          <property name="IS_MONITOR" schemaType="VarChar" schemaSize="1" />
          <property name="DEVICE_STATUS" schemaType="VarChar" schemaSize="1" />
          <property name="RECORD_STATUS" schemaType="VarChar" schemaSize="1" />
        </properties>
        <relations>
          <relation propertyName="ALARM_CONDITIONS" relationEntity="AlarmCondition" relationType="LEFT JOIN" isCollection="true">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys> 
          </relation>
          <relation propertyName="NOTIFICATION_CONDITION" relationEntity="NotificationCondition" relationType="LEFT JOIN" isCollection="false">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys>
          </relation>
          <relation propertyName="NOTIFICATION_RECORDS" relationEntity="NotificationRecord" relationType="LEFT JOIN" isCollection="true">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
              <key source="DEVICE_TYPE" target="DEVICE_TYPE"></key>
            </keys>
          </relation>
        </relations>
        <relationPlan>
          <plan name="Conditions">
            <list>
              <add propertyName="ALARM_CONDITIONS"></add>
            </list>
          </plan>
          <plan name="Records">
            <list>
              <add propertyName="NOTIFICATION_RECORDS"></add>
            </list>
          </plan>
        </relationPlan>
        <propertyPlan>
          <plan name="Info">
            <list>
              <add propertyName="DEVICE_SN"></add>
              <add propertyName="DEVICE_ID"></add>
              <add propertyName="DEVICE_NAME"></add>
            </list>
          </plan>
        </propertyPlan>
      </entity>
    </list>
  </entities>
</configuration>