<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備紀錄對應資料-->
      <entity type="DeviceLog">
        <table schema="dms" name="TB_DEVICE_LOG"></table>
        <properties>
          <property name="DEVICE_SN" schemaType="Varchar" schemaSize="7" isKey="true"/>
          <property name="LOG_SN" schemaType="VarChar" schemaSize="11"/>
        </properties>
        <relations>
          <relation propertyName="LOG_INFO" relationEntity="LogDetail" relationType="INNER JOIN" isCollection="false">
            <keys>
              <key source="LOG_SN" target="LOG_SN"></key>
            </keys>
          </relation>
        </relations>
      </entity>
    </list>
  </entities>
</configuration>