<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備通知記錄資料-->
      <entity type="DeviceNotifyRecord">
        <table schema="dms" name="TB_DEVICE_NOTIFY_RECORD"></table>
        <properties>
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true" />
          <property name="NOTIFY_TIME" schemaType="DateTime" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>
