<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備數據異常紀錄對應資料-->
      <entity type="DeviceRecord">
        <table schema="dms" name="TB_DEVICE_RECORD"></table>
        <properties>
          <property name="DEVICE_SN" schemaType="Varchar" schemaSize="7" isKey="true" />
          <property name="LOG_SN" schemaType="Int" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>