<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備即時狀態報表-->
      <entity type="DeviceReport">
        <table schema="dms" name="TB_DEVICE_INFO"></table>
        <view schema="dms" name="VW_DEVICE_REPORT"></view>
        <properties>
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true" />
          <property name="DEVICE_ID" schemaType="VarChar" schemaSize="40" />
          <property name="DEVICE_NAME" schemaType="NVarChar" schemaSize="30" />
          <property name="DEVICE_STATUS" schemaType="VarChar" schemaSize="1" />
          <property name="SUPPLIER_SN" schemaType="VarChar" schemaSize="3" />
          <property name="REPAIRMAN_ID" schemaType="VarChar" schemaSize="30" />
          <property name="CHANNEL_ID" schemaType="VarChar" schemaSize="30" />
        </properties>
        <relations>
          <relation propertyName="STATUS_INFO" relationEntity="Config" virtualEntity="DeviceStatus" relationType="LEFT JOIN" isCollection="false">
            <keys>
              <key source="DEVICE_STATUS" target="CL_INF"></key>
            </keys>
          </relation>
          <relation propertyName="SUPPLIER_INFO" relationEntity="Supplier" relationType="LEFT JOIN" isCollection="false">
            <keys>
              <key source="SUPPLIER_SN" target="SUPPLIER_SN"></key>
            </keys>
          </relation>
          <relation propertyName="REPAIRMAN_INFO" relationEntity="User" relationType="LEFT JOIN" isCollection="false">
            <keys>
              <key source="REPAIRMAN_ID" target="USERID"></key>
            </keys>
          </relation>
          <relation propertyName="DEVICE_LOG" relationEntity="DeviceLog" relationType="LEFT JOIN" isCollection="false">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys>
          </relation>
          <relation propertyName="MAINTAINER_LIST" relationEntity="DeviceMaintainer" relationType="LEFT JOIN" isCollection="true">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys>
          </relation>
        </relations>
        <relationPlan>
          <plan name="Report">
            <list>
              <add propertyName="STATUS_INFO"></add>
              <add propertyName="SUPPLIER_INFO"></add>
              <add propertyName="DEVICE_LOG"></add>
              <add propertyName="REPAIRMAN_INFO"></add>
              <add propertyName="MAINTAINER_LIST"></add>
            </list>
          </plan>
        </relationPlan>
      </entity>
    </list>
  </entities>
</configuration>