<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--群組設備資料-->
      <entity type="GroupDevice">
        <table schema="dms" name="TB_GROUP_DEVICE"></table>
        <view schema="dms" name="VW_GROUP_DEVICE"></view>
        <properties>
          <property name="GROUP_SN" schemaType="VarChar" schemaSize="3" isKey="true" />
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true" />
          <property name="GROUP_NAME" schemaType="Varchar" schemaSize="30" />
          <property name="DEVICE_ID" schemaType="VarChar" schemaSize="40" />
          <property name="DEVICE_NAME" schemaType="NVarChar" schemaSize="30" />
          <property name="DEVICE_STATUS" schemaType="VarChar" schemaSize="1" />
          <property name="IS_MONITOR" schemaType="VarChar" schemaSize="1" />
          <property name="CHANNEL_ID" schemaType="VarChar" schemaSize="30" />
          <property name="LOG_SN" schemaType="VarChar" schemaSize="11" />
          <property name="REPAIRMAN_ID" schemaType="VarChar" schemaSize="30" />
        </properties>
        <relations>
          <relation propertyName="REPAIRMAN_INFO" relationEntity="User" relationType="LEFT JOIN" isCollection="false">
            <keys>
              <key source="REPAIRMAN_ID" target="USERID"></key>
            </keys>
          </relation>
          <relation propertyName="MAINTAINER_LIST" relationEntity="DeviceMaintainer" relationType="LEFT JOIN" isCollection="true">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys>
          </relation>
        </relations>
        <relationPlan>
          <plan name="Detail">
            <list>
              <add propertyName="MAINTAINER_LIST"></add>
            </list>
          </plan>
        </relationPlan>
      </entity>
    </list>
  </entities>
</configuration>