<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--群組成員資料-->
      <entity type="GroupMember">
        <table schema="dms" name="TB_GROUP_MEMBER"></table>
        <view schema="dms" name="VW_GROUP_MEMBER"></view>
        <properties>
          <property name="GROUP_SN" schemaType="VarChar" schemaSize="3" isKey="true" />
          <property name="USERID" schemaType="VarChar" schemaSize="30" isKey="true" />
          <property name="USER_NAME" schemaType="NVarChar" schemaSize="200" />
        </properties>
        <relations>
          <relation propertyName="GROUP_INFO" relationEntity="Group" relationType="INNER JOIN" isCollection="false">
            <keys>
              <key source="GROUP_SN" target="GROUP_SN"></key>
            </keys>
          </relation>
        </relations>
      </entity>
    </list>
  </entities>
</configuration>