<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備群組資料-->
      <entity type="GroupDevice">
        <table schema="dms" name="TB_GROUP_DEVICE"></table>
        <properties>
          <property name="GROUP_SN" schemaType="VarChar" schemaSize="3" isKey="true" />
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>