<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--群組資料-->
      <entity type="Group">
        <table schema="dms" name="TB_GROUP_INFO"></table>
        <properties>
          <property name="GROUP_SN" schemaType="VarChar" schemaSize="3" isKey="true" />
          <property name="GROUP_NAME" schemaType="NVarChar" schemaSize="30" />
          <property name="CHANNEL_ID" schemaType="VarChar" schemaSize="30" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>