<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--License參數資料-->
      <entity type="LicenseConfig">
        <table schema="dms" name="TB_CONFIG_PARAMS"></table>
        <view schema="dms" name="VW_LICENSE_CONFIG"></view>
        <properties>
          <property name="LICENSE_KEY" schemaType="NVarChar" schemaSize="100" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>