<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備紀錄資料-->
      <entity type="Log">
        <table schema="dms" name="TB_DEVICE_LOG"></table>
        <properties>
          <property name="LOG_SN" schemaType="VarChar" schemaSize="11" isKey="true" />
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" />
          <property name="DEVICE_ID" schemaType="VarChar" schemaSize="40" />
          <property name="LOG_INFO" schemaType="NVarChar" schemaSize="100" />
          <property name="LOG_TIME" schemaType="DateTime" />
          <property name="USERID" schemaType="VarChar" schemaSize="30" />
        </properties>
        <storeProcedure>
          <procedure schema="dms" name="SPC_DEVICE_ERROR" type="Error" group="SPC_DEVICE_ERROR" serial="true"></procedure>
          <procedure schema="dms" name="SPC_DEVICE_REPAIR" type="Repair" group="SPC_DEVICE_REPAIR"></procedure>
          <procedure schema="dms" name="SPC_DEVICE_RECOVER" type="Recover" group="SPC_DEVICE_RECOVER"></procedure>
        </storeProcedure>
        <parameterGroup>
          <group name="SPC_DEVICE_ERROR">
            <map>
              <parameter name="LOG_SN"></parameter>
              <parameter name="DEVICE_SN"></parameter>
              <parameter name="LOG_INFO"></parameter>
              <parameter name="LOG_TIME"></parameter>
            </map>
          </group>
          <group name="SPC_DEVICE_REPAIR">
            <map>
              <parameter name="DEVICE_SN"></parameter>
              <parameter name="USERID"></parameter>
            </map>
          </group>
          <group name="SPC_DEVICE_RECOVER">
            <map>
              <parameter name="DEVICE_SN"></parameter>
              <parameter name="LOG_TIME"></parameter>
            </map>
          </group>
        </parameterGroup>
        <serial table="TB_LOG_INFO" column="LOG_SN"></serial>
      </entity>
    </list>
  </entities>
</configuration>