<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備紀錄Slack ts對應資料-->
      <entity type="LogSlackStamp">
        <table schema="dms" name="TB_LOG_SLACK_STAMP"></table>
        <properties>
          <property name="LOG_SN" schemaType="VarChar" schemaSize="11" isKey="true" />
          <property name="CHANNEL_ID" schemaType="VarChar" schemaSize="30" isKey="true" />
          <property name="TIME_STAMP" schemaType="VarChar" schemaSize="20" isKey="true" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>