<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--成員設備資料-->
      <entity type="MemberDevice">
        <table schema="dms" name="TB_DEVICE_INFO"></table>
        <view schema="dms" name="VW_DEVICE_INFO"></view>
        <properties>
          <property name="DEVICE_SN" schemaType="Varchar" schemaSize="7" isKey="true"/>
          <property name="DEVICE_ID" schemaType="VarChar" schemaSize="40"/>
          <property name="DEVICE_NAME" schemaType="NVarChar" schemaSize="30"/>
          <property name="DEVICE_STATUS" schemaType="VarChar" schemaSize="1"/>
          <property name="REPAIRMAN_ID" schemaType="VarChar" schemaSize="30"/>
          <property name="USERID" schemaType="VarChar" schemaSize="30"/>
        </properties>
        <relations>
          <relation propertyName="REPAIRMAN_INFO" relationEntity="User" relationType="LEFT JOIN" isCollection="false">
            <keys>
              <key source="REPAIRMAN_ID" target="USERID"></key>
            </keys>
          </relation>
          <relation propertyName="MAINTAINER_LIST" relationEntity="DeviceMaintainer" relationType="LEFT JOIN" isCollection="true">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys>
          </relation>
        </relations>
        <relationPlan>
          <plan name="Detail">
            <list>
              <add propertyName="REPAIRMAN_INFO"></add>
              <add propertyName="MAINTAINER_LIST"></add>
            </list>
          </plan>
        </relationPlan>
      </entity>
    </list>
  </entities>
</configuration>