<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--告警通知設定資料-->
      <entity type="NotificationSetting">
        <table schema="dms" name="TB_NOTIFICATION_SETTING"></table>
        <properties>
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true"></property>
          <property name="NOTICATION_TYPE" schemaType="VarChar" schemaSize="1"></property>
          <property name="INTERVAL_TYOE" schemaType="VarChar" schemaSize="1"></property>
          <property name="MUTE_INTERVAL" schemaType="Int"></property>
        </properties>
      </entity>
    </list>
  </entities>
</configuration>
