<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--通知資料-->
      <entity type="Notification">
        <table schema="dms" name="TB_NOTIFICATION_INFO"></table>
        <view schema="dms" name="VW_NOTIFICATION_INFO"></view>
        <properties>
          <property name="NOTIFICATION_SN"  schemaType="VarChar" schemaSize="13" isKey="true" />
          <property name="RECORD_SN" schemaType="VarChar" schemaSize="13" />
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" />
          <property name="TARGET_NAME" schemaType="VarChar" schemaSize="128" />
          <property name="TARGET_MESSAGE" schemaType="VarChar" schemaSize="256" source="View" />
          <property name="IS_PENDING" schemaType="VarChar" schemaSize="1" />
          <property name="NOTIFICATION_TIME" schemaType="DateTime" />
        </properties>
        <relations>
          <relation propertyName="MONITOR" relationEntity="Monitor" relationType="INNER JOIN" isCollection="false">
            <keys>
              <key source="RECORD_SN" target="RECORD_SN"></key>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
              <key source="TARGET_NAME" target="TARGET_NAME"></key>
            </keys>
          </relation>
          <relation propertyName="DEVICE" relationEntity="Device" relationType="INNER JOIN" isCollection="false">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys>
          </relation>
        </relations>
      </entity>
    </list>
  </entities>
</configuration>