<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--告警通知記錄資料-->
      <entity type="NotificationRecord">
        <table schema="dms" name="TB_NOTIFICATION_RECORD"></table>
        <properties>
          <property name="DEVICE_TYPE"  schemaType="VarChar" schemaSize="1" isKey="true" />
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true" />
          <property name="LOG_SN" schemaType="Int" isKey="true" />
          <property name="NOTIFY_TIME" schemaType="DateTime" />
        </properties>
        <storeProcedure>
          <procedure schema="dms" name="SPC_NOTIFICATION_RECORD_SAVE" type="Save" group="SPC_NOTIFICATION_RECORD_SAVE"></procedure>
        </storeProcedure>
        <parameterGroup>
          <group name="SPC_NOTIFICATION_RECORD_SAVE">
            <map>
              <parameter name="DEVICE_TYPE"></parameter>
              <parameter name="DEVICE_SN"></parameter>
              <parameter name="LOG_SN"></parameter>
            </map>
          </group>
        </parameterGroup>
      </entity>
    </list>
  </entities>
</configuration>
