<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--數據異常紀錄資料-->
      <entity type="RecordLog">
        <table schema="dms" name="TB_RECORD_LOG"></table>
        <properties>
          <property name="LOG_SN" schemaType="Int" isKey="true" />
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" />
          <property name="RECORD_TIME" schemaType="DateTime" />
          <property name="RECORD_TEMPERATURE" schemaType="Decimal" schemaSize="5" schemaScale="2" />
          <property name="RECORD_HUMIDITY" schemaType="Decimal" schemaSize="5" schemaScale="2" />
          <property name="USERID" schemaType="VarChar" schemaSize="30" />
          <property name="REPAIR_TIME" schemaType="DateTime" />
          <property name="REPAIR_INFO" schemaType="NVarChar" schemaSize="100" />
          <property name="RECOVER_TIME" schemaType="DateTime" />
        </properties>
        <storeProcedure>
          <procedure schema="dms" name="SPC_RECORD_ABNORMAL" type="Abnormal" group="SPC_RECORD_ABNORMAL"></procedure>
          <procedure schema="dms" name="SPC_RECORD_REPAIR" type="Repair" group="SPC_RECORD_REPAIR"></procedure>
          <procedure schema="dms" name="SPC_RECORD_RECOVER" type="Recover" group="SPC_RECORD_RECOVER"></procedure>
        </storeProcedure>
        <parameterGroup>
          <group name="SPC_RECORD_ABNORMAL">
            <map>
              <parameter name="DEVICE_SN"></parameter>
              <parameter name="RECORD_TIME"></parameter>
              <parameter name="RECORD_TEMPERATURE"></parameter>
              <parameter name="RECORD_HUMIDITY"></parameter>
            </map>
          </group>
          <group name="SPC_RECORD_REPAIR">
            <map>
              <parameter name="LOG_SN"></parameter>
              <parameter name="DEVICE_SN"></parameter>
              <parameter name="USERID"></parameter>
            </map>
          </group>
          <group name="SPC_RECORD_RECOVER">
            <map>
              <parameter name="DEVICE_SN"></parameter>
              <parameter name="RECOVER_TIME"></parameter>
            </map>
          </group>
        </parameterGroup>
      </entity>
    </list>
  </entities>
</configuration>