<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--告警通知記錄資料-->
      <entity type="RecordNotification">
        <table schema="dms" name="TB_RECORD_NOTIFICATION"></table>
        <properties>
          <property name="RECORD_SN"  schemaType="VarChar" schemaSize="13" isKey="true" />
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7"/>
          <property name="TARGET_NAME" schemaType="VarChar" schemaSize="128"/>
          <property name="TARGET_MESSAGE" schemaType="VarChar" schemaSize="256" />
          <property name="NOTIFICATION_TIME" schemaType="DateTime" />
        </properties>
        <storeProcedure>
          <procedure schema="dms" name="SPC_NOTIFICATION_RECORD_SAVE" type="Save" group="SPC_NOTIFICATION_RECORD_SAVE"></procedure>
        </storeProcedure>
        <parameterGroup>
          <group name="SPC_NOTIFICATION_RECORD_SAVE">
            <map>
              <parameter name="DEVICE_TYPE"></parameter>
              <parameter name="DEVICE_SN"></parameter>
              <parameter name="LOG_SN"></parameter>
              <parameter name="RECORD_CONTENT"></parameter>
            </map>
          </group>
        </parameterGroup>
      </entity>
    </list>
  </entities>
</configuration>
