<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備溫溼度監控參數資料-->
      <entity type="RecordLimit">
        <table schema="dms" name="TB_CONFIG_PARAMS"></table>
        <view schema="dms" name="VW_RECORD_LIMIT"></view>
        <properties>
          <property name="LIMIT_TEMPERATURE" schemaType="NVarChar" schemaSize="100" />
          <property name="LIMIT_HUMIDITY" schemaType="NVarChar" schemaSize="100" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>