<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--設備監控紀錄資料-->
      <entity type="Record">
        <table schema="dms" name="TB_RECORD_INFO"></table>
        <properties>
          <property name="RECORD_SN" schemaType="VarChar" schemaSize="13" isKey="true" />
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" />
          <property name="RECORD_TIME" schemaType="DateTime" />
          <property name="RECORD_TEMPERATURE" schemaType="Decimal" schemaSize="5" schemaScale="2" />
          <property name="RECORD_HUMIDITY" schemaType="Decimal" schemaSize="5" schemaScale="2" />
        </properties>
        <modify>
          <insert serial="true"></insert>
        </modify>
        <serial table="TB_RECORD_INFO" column="RECORD_SN"></serial>
      </entity>
    </list>
  </entities>
</configuration>