<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--通知記錄資料-->
      <entity type="RecordNotification">
        <table schema="dms" name="TB_RECORD_NOTIFICATION"></table>
        <view schema="dms" name="VW_NOTIFICATION_RECORD"></view>
        <properties>
          <property name="NOTIFICATION_SN"  schemaType="VarChar" schemaSize="13" isKey="true" />
          <property name="RECORD_SN"  schemaType="VarChar" schemaSize="13" />
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7"/>
          <property name="TARGET_NAME" schemaType="VarChar" schemaSize="128"/>
          <property name="TARGET_MESSAGE" schemaType="VarChar" schemaSize="256" />
          <property name="NOTIFICATION_TIME" schemaType="DateTime" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>
