<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--簡易設備異常紀錄資料-->
      <entity type="SimpleLog">
        <table schema="dms" name="TB_SIMPLE_LOG"></table>
        <properties>
          <property name="LOG_SN" schemaType="Int" isKey="true"/>
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" />
          <property name="ERROR_TIME" schemaType="DateTime" />
          <property name="ERROR_INFO" schemaType="NVarChar" schemaSize="100" />
        </properties>
        <relations>
          <relation propertyName="DEVICE_INFO" relationEntity="Device" relationType="LEFT JOIN" isCollection="false">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys>
          </relation>
          <relation propertyName="GROUP_LIST" relationEntity="DeviceGroup" relationType="LEFT JOIN" isCollection="true">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
            </keys>
          </relation>
        </relations>
        <relationPlan>
          <plan name="Payload">
            <list>
              <add propertyName="DEVICE_INFO"></add>
              <add propertyName="GROUP_LIST"></add>
            </list>
          </plan>
        </relationPlan>
      </entity>
    </list>
  </entities>
</configuration>