<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--Slack參數資料-->
      <entity type="SlackConfig">
        <table schema="dms" name="TB_CONFIG_PARAMS"></table>
        <view schema="dms" name="VW_SLACK_CONFIG"></view>
        <properties>
          <property name="SLACK_URI" schemaType="NVarChar" schemaSize="100" />
          <property name="SLACK_TOKEN" schemaType="NVarChar" schemaSize="100" />
          <property name="OUTGOING_TOKEN" schemaType="NVarChar" schemaSize="100" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>