<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--供應商資料-->
      <entity type="Supplier">
        <table schema="dms" name="TB_SUPPLIER_INFO"></table>
        <properties>
          <property name="SUPPLIER_SN" schemaType="VarChar" schemaSize="3" isKey="true"></property>
          <property name="SUPPLIER_NAME" schemaType="NVarChar" schemaSize="30"></property>
          <property name="SUPPLIER_TEL" schemaType="VarChar" schemaSize="15"></property>
          <property name="SUPPLIER_EMAIL" schemaType="VarChar" schemaSize="50"></property>
          <property name="STS_INFO" schemaType="VarChar" schemaSize="1"></property>
        </properties>
        <relations>
          <relation propertyName="CONTACT_LIST" relationEntity="Contact" relationType="LEFT JOIN" isCollection="true">
            <keys>
              <key source="SUPPLIER_SN" target="SUPPLIER_SN"></key>
            </keys>
          </relation>
        </relations>
        <relationPlan>
          <plan name="Contact">
            <list>
              <add propertyName="CONTACT_LIST"></add>
            </list>
          </plan>
        </relationPlan>
        <storeProcedure>
          <procedure schema="dms" name="SPC_SUPPLIER_INSERT" type="Insert" group="SPC_SUPPLIER_INSERT" plan="Contact"></procedure>
          <procedure schema="dms" name="SPC_SUPPLIER_UPDATE" type="Update" group="SPC_SUPPLIER_INSERT" parameter="SUPPLIER_SN" plan="Contact"></procedure>
        </storeProcedure>
        <parameterGroup>
          <group name="SPC_SUPPLIER_INSERT">
            <map>
              <parameter name="SUPPLIER_NAME"></parameter>
              <parameter name="SUPPLIER_TEL"></parameter>
              <parameter name="SUPPLIER_EMAIL"></parameter>
            </map>
          </group>
        </parameterGroup>
        <deleteTable>
          <add type="Contact">
            <keyMapping>
              <add source="SUPPLIER_SN" target="SUPPLIER_SN"></add>
            </keyMapping>
          </add>
          <add type="ContactParams">
            <keyMapping>
              <add source="SUPPLIER_SN" target="SUPPLIER_SN"></add>
            </keyMapping>
          </add>
        </deleteTable>
      </entity>
    </list>
  </entities>
</configuration>