<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--系統檔案-->
      <entity type="SystemFile">
        <table schema="common" name="TB_FILE_ATTACH"></table>
        <view schema="common" name="VW_FILE_ATTACH"></view>
        <properties>
          <property name="ATTACH_SN" schemaType="VarChar2" schemaSize="20" isKey="true"></property>
          <property name="TB_NAME" schemaType="VarChar2" schemaSize="30"></property>
          <property name="TB_KEY_VALUE_1" schemaType="VarChar2" schemaSize="30" isKey="true"></property>
          <property name="TB_KEY_VALUE_2" schemaType="VarChar2" schemaSize="30" isKey="true"></property>
          <property name="TB_KEY_VALUE_3" schemaType="VarChar2" schemaSize="30" isKey="true"></property>
          <property name="FORMAL_DIR" schemaType="VarChar2" schemaSize="20"></property>
          <property name="ORIGINAL_NAME" schemaType="NVarChar2" schemaSize="200"></property>
          <property name="FILE_TYPE" schemaType="VarChar2" schemaSize="5"></property>
          <property name="FILE_CATEGORY" schemaType="VarChar2" schemaSize="20"></property>
          <property name="IS_HISTORY" schemaType="VarChar2" schemaSize="1"></property>
        </properties>
        <storeProcedure>
          <procedure schema="dms" name="SPC_FILE_SAVE" type="Save" group="SPC_FILE_SAVE"></procedure>
        </storeProcedure>
      </entity>
    </list>
  </entities>
</configuration>