<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>
  <entities>
    <list>
      <!--監控項目資訊-->
      <entity type="Target">
        <table schema="dms" name="TB_TARGET_INFO"></table>
        <view schema="dms" name="VW_TARGET_INFO"></view>
        <properties>
          <property name="DEVICE_SN" schemaType="VarChar" schemaSize="7" isKey="true"></property>
          <property name="TARGET_NAME" schemaType="VarChar" schemaSize="128" isKey="true"></property>
          <property name="TARGET_STATUS" schemaType="VarChar" schemaSize="1"></property>
          <property name="OPERATOR_TYPE" schemaType="VarChar" schemaSize="16"></property>
          <property name="IS_EXCEPTION" schemaType="VarChar" schemaSize="1"></property>
          <property name="FILE_DIR" schemaType="NVarChar" schemaSize="60" source="View"></property>
          <property name="FILE_TYPE" schemaType="NVarChar" schemaSize="60" source="View"></property>
        </properties>
        <relations>
          <relation propertyName="ALARM_CONDITIONS" relationEntity="AlarmCondition" relationType="LEFT JOIN" isCollection="true">
            <keys>
              <key source="DEVICE_SN" target="DEVICE_SN"></key>
              <key source="TARGET_NAME" target="TARGET_NAME"></key>
            </keys> 
          </relation>
        </relations>
        <relationPlan>
          <plan name="AlarmConditions">
            <list>
              <add propertyName="ALARM_CONDITIONS"></add>
            </list>
          </plan>
        </relationPlan>
        <storeProcedure>
          <procedure schema="dms" name="SPC_TARGET_INSERT" type="Insert" group="SPC_TARGET_INSERT" plan="AlarmConditions"></procedure>
        </storeProcedure>
        <parameterGroup>
          <group name="SPC_TARGET_INSERT">
            <map>
              <parameter name="DEVICE_SN"></parameter>
              <parameter name="TARGET_NAME"></parameter>
              <parameter name="TARGET_STATUS"></parameter>
              <parameter name="OPERATOR_TYPE"></parameter>
              <parameter name="IS_EXCEPTION"></parameter>
            </map>
          </group>
        </parameterGroup>
      </entity>
    </list>
  </entities>
</configuration>