<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entities" type="SourceHelper.Configuration.EntitySection, SourceHelper.Configuration" />
  </configSections>

  <entities>
    <list>
      <!--使用者資料表-->
      <entity type="User">
        <table schema="limit" name="TB_USER_INFO"></table>
        <view schema="limit" name="VW_USER_INFO"></view>
        <properties>
          <property name="USERID" schemaType="Varchar" schemaSize="30" isKey="true" />
          <property name="USER_NAME" schemaType="NVarChar" schemaSize="200" />
          <property name="USER_TYPE" schemaType="VarChar" schemaSize="1" />
          <property name="SLACK_ID" schemaType="VarChar" schemaSize="15" />
          <property name="EMAIL" schemaType="NVarChar" schemaSize="200" />
        </properties>
      </entity>
    </list>
  </entities>
</configuration>